<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>addSchool</servlet-name>
		<servlet-class>webapp.addServlets.addSchoolServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addSchool</servlet-name>
		<url-pattern>/addschool</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addCollege</servlet-name>
		<servlet-class>webapp.addServlets.addCollegeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addCollege</servlet-name>
		<url-pattern>/addcollege</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addDepartment</servlet-name>
		<servlet-class>webapp.addServlets.addDepartmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addDepartment</servlet-name>
		<url-pattern>/adddepartment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addCourse</servlet-name>
		<servlet-class>webapp.addServlets.addCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addCourse</servlet-name>
		<url-pattern>/addcourse</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>checkFBUser</servlet-name>
		<servlet-class>webapp.checkServlets.checkFBUserServlet</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>checkFBUser</servlet-name>
		<url-pattern>/checkfacebookuser</url-pattern>	
	</servlet-mapping>
	<servlet>
	    <servlet-name>changeloginstatus</servlet-name>
	    <servlet-class>webapp.checkServlets.changeLoginStatus</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>changeloginstatus</servlet-name>
	    <url-pattern>/changeloginstatus</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>checkloginstatus</servlet-name>
	    <servlet-class>webapp.checkServlets.checkLoginStatus</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>checkloginstatus</servlet-name>
	    <url-pattern>/checkloginstatus</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addFBUser</servlet-name>
		<servlet-class>webapp.addServlets.addFBUserServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>addFBUser</servlet-name>
		<url-pattern>/addfacebookuser</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>removeFBUser</servlet-name>
	    <servlet-class>webapp.removeServlets.deleteFBUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>removeFBUser</servlet-name>
	    <url-pattern>/removefacebookuser</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>addUserCourses</servlet-name>
	    <servlet-class>webapp.addServlets.addUserCourses</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>addUserCourses</servlet-name>
	    <url-pattern>/addusercourses</url-pattern>
	</servlet-mapping>
		<servlet>
	    <servlet-name>addSubscriber</servlet-name>
	    <servlet-class>webapp.addServlets.addSubscriberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>addSubscriber</servlet-name>
	    <url-pattern>/addcoursesubscriber</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>usercoursegenerator</servlet-name>
	    <servlet-class>webapp.cronServlets.userCourseGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>usercoursegenerator</servlet-name>
	    <url-pattern>/usercoursegenerator</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>createsessionservlet</servlet-name>
	    <servlet-class>webapp.checkServlets.createSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>createsessionservlet</servlet-name>
	    <url-pattern>/createsessionservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChatBot</servlet-name>
		<servlet-class>webapp.serviceServlets.chatServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatBot</servlet-name>
		<url-pattern>/_ah/xmpp/message/chat/</url-pattern>
	</servlet-mapping>
<servlet>
  <servlet-name>mailhandler</servlet-name>
  <servlet-class>webapp.serviceServlets.emailServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>mailhandler</servlet-name>
  <url-pattern>/_ah/mail/*</url-pattern>
</servlet-mapping>
<security-constraint>
  <web-resource-collection>
    <web-resource-name>mail</web-resource-name>
    <url-pattern>/_ah/mail/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
    <role-name>admin</role-name>
  </auth-constraint>
</security-constraint>
	<servlet>
		<servlet-name>updateCourseRating</servlet-name>
		<servlet-class>webapp.checkServlets.updateCourseRating</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateCourseRating</servlet-name>
		<url-pattern>/updatecourserating</url-pattern>
	</servlet-mapping>
	<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
	<error-page>
		<description>Uncaught exception</description>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
</web-app>
